name: deploy

on:
  pull_request:
    types: [ closed ]
    branches: [ main ]
  
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: checkout release
      uses: actions/checkout@v3
    
    - name: install .env
      run: |
        echo "${{ secrets.DOT_ENV_PRODUCT }}" > $GITHUB_WORKSPACE/.env.production
    
    - name: archive jgc_web
      run: tar cvfz $GITHUB_WORKSPACE/jgc_web.tar.gz *
      
    - name: AWS configure credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY }}
        aws-region: ap-northeast-2
        
    - name: upload to S3
      run: aws s3 cp --region ap-northeast-2 $GITHUB_WORKSPACE/jgc_web.tar.gz s3://jgcdeploy
  
    - name: deploy with AWS codeDeploy
      run: aws deploy create-deployment
        --application-name github-action-web
        --deployment-group-name github-action-group
        --file-exists-behavior OVERWRITE
        --s3-location bucket=jgcdeploy,bundleType=tgz,key=jgc_web.tar.gz
        --region ap-northeast-2